@import "../../mixins/basic_style";
@import "../../mixins/text_mixin";

.header_wrapper {
  width: 100%;
  box-shadow: 0px 1px 0px 0px rgba($color: #000000, $alpha: 0.1);
  padding: 10px 0px;
  @include basic_style;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_icon {
      display: none;
    }
    nav {
      display: block;
      a {
        margin: 0px 10px;
        text-decoration: none;
        font-size: 1em;
        color: aqua;
      }
    }
  }
}

.Navbaractive {
  color: black !important;
  font-weight: bold;
}

// media query for responsive mode
@media (max-width: 900px) {
  .header_wrapper {
    display: block;
    width: 100%;
    position: relative;

    header {
      .header_icon {
        display: block;
      }

      nav {
        display: none;
      }
      .Navbar {
        position: fixed;
        display: block;
        background-color: white;
        text-align: center;
        width: 100%;
        overflow: auto;
        z-index: 111;
        left: 0px;
        top: 68px;
        overflow: hidden;
        transition: all linear 0.5s;
        a {
          display: list-item;
          margin: 10px 0px;
        }
      }
    }
  }
}
