@import "../../mixins/text_mixin";

.input_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
  margin: 10px 0px;
  width: 100%;
  label {
    @include text-mixin(1rem, var(--color-one));
  }

  input {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    overflow: hidden;
    outline: none;
  }
}

::placeholder {
}
