@import "./common/index";

::-webkit-scrollbar {
    width: 8px;
    border-radius: 40px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background: var(--color-five);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-four);
}