@import "./common/index";
@import "./Auth/index";
@import "./AdminStyle/index";
@import "./DashboardStyle/index";

::-webkit-scrollbar {
  height: 2px;
  width: 4px;
  border-radius: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sidebar-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sidebar-color);
}

@media only screen and (max-width: 600px) {
  body {
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    width: 100%;
    height: 100vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    width: 100%;
    height: 100vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    width: 100%;
    height: 100vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    width: 100%;
    height: 100vh;
  }
}
