aside {
  display: flex;
  justify-content: center;

  ul {
    display: block;
    position: relative;
    width: 100%;
    li {
      display: grid;
      place-items: center;
      width: 100%;
      gap: 10px;
      padding: 20px 0px;
      .icon {
        color: #f1f1f1c5;
      }
      a {
        text-decoration: none;
        color: #f1f1f1c5;
      }
      &:hover {
        background-color: var(--sidebar-hover);
      }
    }
  }
}
