nav {
  width: 100%;
  padding: 10px 0px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 5px 0px rgba($color: #0000009a, $alpha: 0.2);
  .navone {
    display: inline-block;
    padding: 10px 20px;
  }
}
