@import "../../mixins/basic_style";
@import "./contact_head";

.contact_header {
  @include basic_style;
  background-color: var(--bg-primary-color);
  width: 100%;
  padding: 40px 0px;

  @import "./contact_header";
}
@import "./howcanwehelp";
