.dashboard_wrapper {
  position: relative;
  display : block;

  .dashboard_count {
    display              : flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 10px 0px;

    div {
      box-shadow      : 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
      background-color: var(--bg-secondary-color);
      width           : 310px;
      height:100px ;
      border-radius   : 4px;
      display         : flex;
      justify-content : center;
      align-items     : center;
      transition      : all linear 0.4s;

      &:nth-child(1) {
        border-bottom: 2px solid var(--sidebar-color);
      }

      &:nth-child(2) {
        border-bottom: 2px solid red;
      }

      &:nth-child(3) {
        border-bottom: 2px solid rgba(0, 128, 0, 0.699);
      }

      &:nth-child(4) {
        border-bottom: 2px solid rgba(236, 156, 6, 0.699);
      }
    }
  }
}

.dashboard_Charts{

}