.sidebar {
  background-color: var(--sidebar-color);
  display: block;
  position: fixed;
  overflow-x: hidden;
  width: 140px !important;
  height: 100vh;
  max-height: min-content;
  .side_logo {
    background-color: var(--primary-color);
    padding: 10px 0px;
    display: grid;
    place-items: center;
  }

  aside ul {
    position: relative;
    display: block;
    overflow: auto;

    li {
      width: 100%;

      a {
        transition: all linear 0.4s;
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        padding: 20px 0px;
        text-align: center;
        width: 100%;
        @include text-mixin(1em, var(--text-primary-color));
        span {
          width: 100%;
          text-align: center;
          color: var(--bg-primary-color);
        }

        &:hover {
          color: var(--text-primary-color);
          background-color: var(--sidebar-hover);
        }
      }
    }
  }
}

.activesidebarlink {
  color: var(--text-secondary-color);
  background-color: var(--sidebar-hover);
}
