@import "../../mixins/text_mixin";

.dashboard_wrapper {
  display: block;
  position: relative;
  @import "./Sidebar/sidebar";

  .dashboard_box {
    margin-left: 140px;
    width: 100% fit-content;
    // header
    .header_wrapper {
      width: 100%;
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      background-color: var(--bg-secondary-color);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
      display: block;
      padding: 2px 20px;
      .header_box {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .head_profile {
          display: flex;
          place-items: center;
          img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
          }
        }
      }
    }
    main {
      background-color: var(--bg-primary-color);
      height: 100vh;
    }

    // header
  }
}

@media (max-width: "600px") {
}
